[Unit]
Description=Robinet Disco Server
After=syslog.target
After=network.target

[Service]
Type=simple
User=pi
Group=users
WorkingDirectory=/home/pi/disco
ExecStart=/home/pi/disco/start-disco-server.sh
Environment=USER=pi HOME=/home/pi

[Install]
WantedBy=multi-user.target
Alias=disco-server.service
