[Unit]
Description=Robinet Disco API
After=syslog.target network.target disco-server.target
Wants=disco-server.target

[Service]
Type=simple
User=mikedd
Group=users
WorkingDirectory=/home/mikedd/disco-api
ExecStart=/home/mikedd/disco-api/startup.sh
Environment=USER=mikedd HOME=/home/mikedd

[Install]
WantedBy=multi-user.target
Alias=disco-api.service
